@font-face {
    font-family: "Inter";
    src: url("C://Windows//Fonts//Inter") format("ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C8AF97;
    font-family: "Inter";
}

header {
    background-color: #B2957B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    height: 120px;
    font-size: 20px;
}

#conteudo {
    margin: 48px;
}

#brownSquare {
    display: flex;
    color: white;
    background-color: #34231A;
    height: 356px;
    border-radius: 22px;
    font-weight: 700;
    font-size: 85px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#texto1 {
    margin-top: 80px;
    display: flex;
    color: #34231A;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
}

#linha {
    display: flex;
    color: white;
    margin-top: 140px;
    height: 80px;
    border-bottom: 1px solid #000;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#cartaoIdentidade {
    width: 57px;
    height: 40px;
    flex-shrink: 0;
}

#barCode {
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}

#paperIcon {
    width: 33px;
    height: 38px;
    flex-shrink: 0;
}

#simboloMais {
    width: 40px;
    height: 43px;
    flex-shrink: 0;
}

.tituloArquivo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 81px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

.tituloArquivo p {
    margin-left: 11px;
}

.tituloLinha {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 65px;
}

.tituloLinha hr {
    margin-left: 5px;
    border-radius: 100px;
    background-color: #324D2E;
    border: #324D2E;
    width: 355px;
    height: 12px;
    flex-shrink: 0;
}

.texto2 {
    margin-top: 35px;
    display: flex;
    color: #34231A;
    font-size: 32px;
    font-weight: 600;
    justify-content: flex-start;
}

#acesseAqui {
    display: flex;
    background: #34231A;
    margin-top: 45px;
    color: white;
    font-size: 32px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 297px;
    height: 105px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#acesseAqui:hover {
    transform: translateY(-5px);
}

#acesseAqui img {
    margin-left: 9px;
    width: 42px;
    height: 42.5px;
    transform: rotate(134.5deg);
    flex-shrink: 0;
}

#conteudo-sobreNos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 985.5px;
    margin-top: 50px;
}

#sobreNos {
    margin-top: 120px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 600;
    flex-shrink: 0;
}

#sobreTxt {
    margin-top: 70px;
    margin-bottom: 137px;
    width: 906px;
    height: 290px;
    flex-shrink: 0;
    color: #34231A;
    text-align: justify;
    text-indent: 35px;
    font-size: 36px;
    font-weight: 600;
}

#imagemPc {
    width: 704px;
    height: 919.5px;
    flex-shrink: 0;
    border-radius: 0px 0px 200px 0px;
}

#caracteristicas{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.circle{
    background-color: #34231A;
    width: 21px;
    height: 21px;
    border-radius: 100%;
}

.caracteristicas-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #34231A;
    font-size: 32px;
    font-weight: 600;
    gap: 30px;
}

footer {
    background-color: #34231A;
    flex-shrink: 0;
    margin-top: 150px;
    display: flex;
    height: 333px;
}