* {
    margin: 0;
    padding: 0;
}

/* formulário login */

.login-box {
    display: flex;
    font-family: "Inter";
    background-color: rgba(52, 35, 26, 1);
    width: 672;
    height: 560;
    border-radius: 22px;
    flex-direction: column;
    align-items: center;
}

#img-cadeado {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 46px;
}

.email-senha {
    display: flex;
    flex-direction: column;
    width: 465px;
    margin-top: 46px;
}

form [type="submit"] {
    width: 233px;
    height: 71px;
    border-radius: 10px;
    background: #664C3E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-weight: 700;

}

form [type="submit"]hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 49px;
    width: 465px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    background: #F5F5F5;
    padding: 15px;
}

#esqueci-senha {
    color: #969696;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 20px;
}

#nao-tem-conta {
    color: #969696;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
}