* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

#abaLogin {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -66%);
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    overflow: visible;
}

/* formulário login */

.login-box {
    display: flex;
    font-family: "Inter";
    background-color: rgba(52, 35, 26, 1);
    width: 672px;
    height: 560px;
    border-radius: 22px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-box p {
    cursor: pointer;
}

#img-circle-user-login {
    font-size: 80px;
    color: white;
}

.email-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 465px;
    gap: 20px;
}

form [type="submit"] {
    width: 233px;
    height: 71px;
    border-radius: 10px;
    background: #664C3E;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.input-login {
    height: 49px;
    width: 465px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    background: #F5F5F5;
    padding: 15px;
    font-weight: 700;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: #969696;
}

.texto-link-login {
    color: #969696;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-link-login:hover {
    color: #d9d9d9;
}

#botao-entrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}