    * {
        margin: 0;
        padding: 0
    }

    *:focus {
        outline: none;
    }

    #abaArquivo {
        position: absolute;
        top: 100px;
        left: 625px;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        overflow: visible;
    }

    #arquivos-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 321px;
        height: 383px;
        border-radius: 22px;
        background: #34231A;
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    /* Junção do ícone com input*/

    .input-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px;
        gap: 15px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 210px;
        height: 25px;
        cursor: pointer;
    }

    .input-wrapper:hover {
        background-color: #d9d9d9;
    }

    /*CSS Inputs*/

    input {
        border: none;
        background-color: transparent;
        font-family: "Inter";
        font-weight: 700;
        font-size: 13px;
    }